body {
    background-color: black;
}
.heading1 {
    color: gray;
}
.heading2 {
    color: gray;
}
.paragraph1 {
    color: whitesmoke;
}
.heading3 {
    color: gray;
}
.paragraph2 {
    color: whitesmoke;
}
.heading4 {
    color: gray;
}
.heading5 {
    color: gray;
}
.paragraph3 {
    color: whitesmoke;
}
.heading6 {
    color: gray;
}
.paragraph4 {
    color: whitesmoke;
}